[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
pymysql = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
email-validator = "*"
flask-script = "==2.0.5"

[dev-packages]

[requires]
python_version = "3.9"
