{% extends "layout.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
	<div id="shopping-cart">
		<br/>
		<div class="text-center"><font color="#5d4250"> <h4>您的購物車</h4></font></div>
			<table class="tbl-cart" cellpadding="20" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">商品名稱</th>
					<th style="text-align:right;" width="5%">數量</th>
					<th style="text-align:right;" width="10%">單價</th>
					<th style="text-align:right;" width="10%">價錢</th>
					<th style="text-align:center;" width="5%">刪除</th>
				</tr>
				{% if 'cart_item' in session %}
					{% for product_id, item in session['cart_item'].items() %}
					<tr>
							<td><img src="{{ item['picture'] }}" class="cart" />&emsp;{{ item['name'] }}</td>
							<td style="text-align:right;">{{ item['quantity'] }}</td>
							<td  style="text-align:right;">&#36; {{ item['price'] }}</td>
							<td  style="text-align:right;">&#36; {{ item['total_price'] }}</td>
							<td style="text-align:center;">
									<a href ="{{ url_for('del_product', item_id=product_id)}}"><img src="/static/img/icon-delete.png" alt="Remove Item" />
									</a>
							</td>
						</tr>
				{% endfor %}
				<tr>
					<td colspan="1" align="right">Total:</td>
					<td align="right">{{ session['all_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>總價:&emsp;&#36; {{ session['all_total_price'] }}</strong>
					<td></td>
				</tr>

				{% else %}
					<div class="alert alert-secondary" role="alert">
						<i class="bi bi-exclamation-square-fill"></i>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square-fill" viewBox="0 0 16 16">
  						<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
						</svg>
						您尚未加入商品至購物車
					</div>
				{% endif %}
				<tr>
					<td align="right" colspan="5">
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<a id="btnEmpty" class="btn btn-outline-secondary" href="{{ url_for('empty_cart') }}">清空購物車</a>
							<a href="{{ url_for('check_out') }}" class="btn btn-outline-danger">前往結帳</a>
						</div>
					</td>
				</tr>
			</tbody>
			</table>

	</div>
{% endblock %}