{% extends "layout.html" %}
    {% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col">
               <img class='product' src='{{ item.picture_URL }}'>
            </div>
            <div class="col">
                <div>
                    {{ item.product_name }}
                </div>
                <div>
                    NT$ {{ item.product_price }}
                </div>
                <form method='post', action="{{ url_for('add_cart') }}">
                    <input name='quantity' type="number" value="1">
                    <input type="hidden" name="id" value="{{ item.product_ID }}"/>
                <br/>
                <div>
                    <button type="submit" class="btn btn-outline-secondary">加入購物車</button>
                </div>
                </form>
                <div>
                    {{ item.product_description }}
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            您可能會喜歡
        </div>
        <div class="row row-cols-4">
            {% for items in data %}
                <div class="card" style="width: 15rem;">
                    <a href ="{{ url_for('show_item', product_ID=items.product_ID)}}"> <img src="{{items.picture_URL}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="{{ url_for('show_item', product_ID=items.product_ID)}}" class="card-link">{{items.product_name}}</a>
                    <br/>
                <a href="{{ url_for('show_item', product_ID=items.product_ID)}}" class="card-link">價格:{{items.product_price}}</a>
                </div>
                </div>
            {% endfor %}
            </div>
    </div>
    {% endblock %}