{% extends "layout.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
	<div id="shopping-cart">
		<div class="txt-heading"><h2>您的購物車</h2></div>
			<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">商品名稱</th>
					<th style="text-align:right;" width="5%">數量</th>
					<th style="text-align:right;" width="10%">單價</th>
					<th style="text-align:right;" width="10%">價錢</th>
					<th style="text-align:center;" width="5%">刪除</th>
				</tr>
				{% for id, item in session['cart_item'].items() %}
				<tr>
						<td><img src="{{ item['picture'] }}" class="cart" />{{ item['name'] }}</td>
						<td style="text-align:right;">{{ item['quantity'] }}</td>
						<td  style="text-align:right;">&#36; {{ item['price'] }}</td>
						<td  style="text-align:right;">&#36; {{ item['total_price'] }}</td>
						<td style="text-align:center;">
								<img src="/static/img/icon-delete.png" alt="Remove Item" />
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="1" align="right">Total:</td>
					<td align="right">{{ session['all_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>&#36; {{ session['all_total_price'] }}</strong>
					<td></td>
				</tr>

			</tbody>
			</table>
	</div>
{% endblock %}