img.product {
    width : 25rem
}

img.cart {
    width : 8rem
}

img.list {
    width : 8rem
}

img.hot {
    width : 20rem
}

.card {
width : 55%;
min-height: 100;
margin:  2%;
}
.card-img-top {
height: 150px;
object-fit: cover;
}
.card-body{
box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.row-col {
background-color:#826373;
}

.card-group {
background-color:#aa8b9b;
}

.card-text{
width : 15%;
min-height: 30;
margin:  1%;
background-color:#dec2d0;
}

.text-center{
background-color:#d5a6bd;
}
.tbl-cart{
background-color:#ede2e7;
}

.shine {
    animation: shine 0.1s ease-in infinite alternate;
}

@keyframes shine {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

h7 {
  font-size: 15px;
  background: -webkit-linear-gradient(#e63110, #fa7b30, #e66910, #e6c810, #c90076, #4c1130);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

